<div>
  <h3>Novo Plano de Voo</h3>
</div>
<form class="example-container" [formGroup]="flightPlanForm" (ngSubmit)="addFlightPlan(flightPlanForm.value)">
  <mat-form-field>
    <input matInput name="flightNumber" placeholder="Numero do Voo" formControlName="flightNumber">
    <mat-hint align="start">Mínimo 3 Caracteres</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input matInput name="aircraftType" placeholder="Tipo da Aeronave" formControlName="aircraftType">
    <mat-hint align="start">Mínimo 2 Caracteres</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input matInput name="aircraftPrefix" placeholder="Matrícula da Aeronave" formControlName="aircraftPrefix">
    <mat-hint align="start">Mínimo 3 Caracteres</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input matInput name="fromAirport" placeholder="Aeroporto de Origem" formControlName="fromAirport">
    <mat-hint align="start">3 Caracteres</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input matInput name="toAirport" placeholder="Aeroporto de Destino" formControlName="toAirport">
    <mat-hint align="start">3 Caracteres</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input matInput name="flightDateTime" placeholder="Data/Hora do Vôo" formControlName="flightDateTime">
    <mat-hint align="start">YYYY-MM-DDThh:mm (ex: 2020-01-02T15:30)</mat-hint>
  </mat-form-field>
  <button type="submit" [disabled]="!flightPlanForm.valid" mat-button color="primary" >Adicionar</button>
</form>
