<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <button mat-flat-button color="accent" [routerLink]="['/']"><mat-icon>list</mat-icon> Voltar</button>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>{{flightPlan.flightNumber}}</h2></mat-card-title>
      <mat-card-subtitle>{{flightPlan.aircraftPrefix}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <table>
        <tr><td>Id:</td><td>{{flightPlan.id}}</td></tr>
        <tr><td>Tipo de Aeronave:</td><td>{{flightPlan.aircraftType}}</td></tr>
        <tr><td>Aeroporto Origem:</td><td>{{flightPlan.fromAirport}}</td></tr>
        <tr><td>Aeroporto Destino:</td><td>{{flightPlan.toAirport}}</td></tr>
        <tr><td>Data/Hora do Vôo:</td><td>{{flightPlan.flightDateTime}}</td></tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button style="margin: 16px" mat-flat-button color="primary" class="teste" [routerLink]="['/fpedit', flightPlan.id]"><mat-icon>edit</mat-icon> Editar</button>
      <button style="margin: 16px" mat-flat-button color="warn" (click)="deleteFlightPlan(flightPlan.id)"><mat-icon>delete</mat-icon> Excluir</button>
    </mat-card-actions>
  </mat-card>
</div>
